@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
@plugin '@tailwindcss/typography';

:root {
  --textBold: '#0F172B';
  --textRegular: '#2E374C';
  --label: '#8F93A3';
}

::-webkit-scrollbar {
  max-width: 4px; /* width of the entire scrollbar */
  height: 4px;
}

::-webkit-scrollbar-track {
  background: white; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: #8f93a3; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 1px solid #8f93a3; /* creates padding around scroll thumb */
}

/* Fundo e texto do editor */
.w-md-editor,
.w-md-editor-content,
.w-md-editor-content-editor,
.w-md-editor-text,
.w-md-editor-text-pre,
.w-md-editor-preview {
  background-color: #ffffff !important;
  color: #000000 !important;
}

/* Barra de ferramentas */
.w-md-editor-toolbar {
  background-color: #ffffff !important;
  color: #000000 !important;
}

/* Botões da toolbar */
.w-md-editor-toolbar li button {
  color: #000000 !important;
}
.w-md-editor-toolbar li button:hover {
  background-color: #f3f4f6 !important; /* um cinza claro */
}

.w-md-editor {
  border: 1px solid #d1d5db !important; /* gray-300 */
  box-shadow: none !important;
}

/* Linha que separa a toolbar do editor */
.w-md-editor-toolbar,
.w-md-editor-content {
  border-color: #d1d5db !important;
}
